<html xmlns:th="http://www.thymeleaf.org">

<body>
	<h3 th:text="#{delete.title}">Dalībnieka dzēšana</h3>

	<table>
	        <tr>
	            <td th:text="#{delete.firstName}">Vārds:</td>
	            <td th:text="${kursaDalibnieks.vards}"></td>
	        </tr>
	        <tr>
	            <td th:text="#{delete.lastName}">Uzvārds:</td>
	            <td th:text="${kursaDalibnieks.uzvards}"></td>
	        </tr>
	        <tr>
	            <td th:text="#{delete.email}">Epasts:</td>
	            <td th:text="${kursaDalibnieks.epasts}"></td>
	        </tr>
	        <tr>
	            <td th:text="#{delete.phone}">Telefons:</td>
	            <td th:text="${kursaDalibnieks.telefonaNr}"></td>
	        </tr>
	        <tr>
	            <td th:text="#{delete.personId}">Personas ID:</td>
	            <td th:text="${kursaDalibnieks.personasId}"></td>
	        </tr>
	        <tr>
	            <td th:text="#{delete.city}">Pilsēta:</td>
	            <td th:text="${kursaDalibnieks.pilseta}"></td>
	        </tr>
	        <tr>
	            <td th:text="#{delete.country}">Valsts:</td>
	            <td th:text="${kursaDalibnieks.valsts}"></td>
	        </tr>
	        <tr>
	            <td th:text="#{delete.street}">Ielas nosaukums un nr:</td>
	            <td th:text="${kursaDalibnieks.ielasNosaukumsNumurs}"></td>
	        </tr>
	        <tr>
	            <td th:text="#{delete.apartment}">Dzīvokļa nr:</td>
	            <td th:text="${kursaDalibnieks.dzivoklaNr}"></td>
	        </tr>
	        <tr>
	            <td th:text="#{delete.postalCode}">Pasta indekss:</td>
	            <td th:text="${kursaDalibnieks.pastaIndekss}"></td>
	        </tr>
	    </table>

		<form th:action="@{/kursaDalibnieki/CRUD/remove/{id}(id=${kursaDalibnieks.kdid})}" method="post">
		    <p>
		        <span th:text="#{delete.confirm}">Vai tiešām dzēst dalībnieku</span>
		        <b th:text="${kursaDalibnieks.vards} + ' ' + ${kursaDalibnieks.uzvards}"></b>?
		    </p>
		    <button type="submit" th:text="#{delete.button}">Dzēst</button>
		    <a th:href="@{/kursaDalibnieki/CRUD/show/all}" th:text="#{delete.cancel}">Atcelt</a>
		</form>
</body>
</html>
