<html xmlns:th="http://www.thymeleaf.org">


<body>
	<div th:if="${message}" style="color:red; font-weight:bold;" th:text="${message}"></div>
	<p> Enter information about the kursa dalibnieks! </p>

	<p th:text="#{participants.info}">Enter information about the kursa dalibnieks!</p>

	<form action="#" th:action="@{/kursaDalibnieki/CRUD/add}" th:object="${KursaDalibnieki}" method="post">
		<table>
			<tr>
				<td th:text="#{participants.firstName}">Vārds:</td>
				<td><input type="text" th:field="*{vards}" /></td>
			</tr>

			<tr>
				<td th:text="#{participants.lastName}">Uzvārds:</td>
				<td><input type="text" th:field="*{uzvards}" /></td>
			</tr>

			<tr>
				<td th:text="#{participants.email}">E-pasts:</td>
				<td><input type="text" th:field="*{epasts}" /></td>
			</tr>

			<tr>
				<td th:text="#{participants.phone}">Telefona numurs:</td>
				<td><input type="text" th:field="*{telefonaNr}" /></td>
			</tr>

			<tr>
				<td th:text="#{participants.personId}">Personas ID:</td>
				<td><input type="text" th:field="*{personasId}" /></td>
			</tr>

			<tr>
				<td th:text="#{participants.city}">Pilsēta:</td>
				<td><input type="text" th:field="*{pilseta}" /></td>
			</tr>

			<tr>
				<td th:text="#{participants.country}">Valsts:</td>
				<td><input type="text" th:field="*{valsts}" /></td>
			</tr>

			<tr>
				<td th:text="#{participants.street}">Ielas nosaukums un numurs:</td>
				<td><input type="text" th:field="*{ielasNosaukumsNumurs}" /></td>
			</tr>

			<tr>
				<td th:text="#{participants.apartment}">Dzīvokļa nr:</td>
				<td><input type="number" th:field="*{dzivoklaNr}" /></td>
			</tr>

			<tr>
				<td th:text="#{participants.postalCode}">Pasta indekss:</td>
				<td><input type="text" th:field="*{pastaIndekss}" /></td>
			</tr>

			<tr>
				<td>
					<button type="submit" th:text="#{participants.save}">Save</button>
				</td>
			</tr>
		</table>
	</form>


	</form>
</body>

</html>