<html xmlns:th="http://www.thymeleaf.org">
	

<body>
	<p> Lūdzu rediģē eksistējošo kursu!</p>

	<form action="#"  th:action="@{/kurss/CRUD/update/{id}(id=${kurss.kid})}" th:object="${kurss}" method="post" >
		<table>
			<tr>
				<td>Rediģē kursa nosaukumu:</td>
				<td> <input type="text"  th:field="*{nosaukums}" /> </td>
			</tr>
			
			<tr>
				<td>Rediģē kursa stundas:</td>
				<td> <input type="text" th:field="*{stundas}" />    </td>
			</tr>
			
			<tr>
				<td>Rediģē kursa limeni:</td>
				<td> <input  type="text" th:field="*{limenis}"  />    </td>
			</tr>
			
			<tr>
							
							<td> <button type="submit"> Saglabāt rediģēto kursu </button>     </td>
							
						</tr>
			
					
		</table>
	</form>
</body>

</html> 