<html xmlns:th="http://www.thymeleaf.org">
	

<body>
	<p> Rediģē eksistējošo kursa datumus!</p>

	<form action="#"  th:action="@{/kursaDatumi/CRUD/update/{id}(id=${kursaDatumi.kursaDatId})}" th:object="${kursaDatumi}" method="post" >
		<table>
			
			<tr>
			    <td>Kursa nosaukums:</td>
			    <td>
			        <span th:text="${kursaDatumi.kurss.nosaukums}"></span>
			    </td>
			</tr>
			
			<tr>
				<td>Rediģē kursa sākuma datumu:</td>
				<td> <input type="date"  th:field="*{sakumaDatums}" /> </td>
			</tr>
			
			<tr>
				<td>Rediģē kursa beigu datumu:</td>
				<td> <input type="date" th:field="*{beiguDatums}" />    </td>
			</tr>
			
			<tr>
				<td>Rediģē kursa pasniedzēju:</td>
				<td> <select th:field="*{pasniedzejs.pid}" required>
				        <option th:each="p : ${pasniedzejiList}"
				                th:value="${p.pid}"
				                th:text="${p.vards} + ' ' + ${p.uzvards}"
				                th:selected="${p.pid == kursaDatumi.pasniedzejs.pid}">
				        </option>
				    </select>
				</td>
			</tr>
			
			<tr>
							
				<td> <button type="submit"> Saglabāt rediģētos kursa datumus </button>     </td>
							
			</tr>
			
					
		</table>
	</form>
</body>

</html> 