<html xmlns:th="http://www.thymeleaf.org">

<body>
	
	<p>Informācija par kursa datumiem:</p>
	
	<table border="1px" border-collapse="collapse">
		<tr>
			<th>ID</th>
			<th>Sākuma datums</th>
			<th>Beigu datums</th>
			<th>Kurss</th>
			<th>Pasniedzējs</th>
		</tr>
		<tr th:each = "temp : ${package}">
			<td th:text="${temp.getKursaDatId()}" ></td>
			<td th:text="${temp.getSakumaDatums()}" ></td>
			<td th:text="${temp.getBeiguDatums()}" ></td>
			<td th:text="${temp.getKurss()}" ></td>
			<td th:text="${temp.getPasniedzejs()}"></td>
		</tr>
	</table>
	
</body>
</html> 