<html xmlns:th="http://www.thymeleaf.org">
<body>

<p>Informācija par kursiem:</p>

<form action="/kurss/CRUD/show/all" method="get">
    <input type="text" name="search" placeholder="Search..." th:value="${search}">
    <button type="submit">Meklēt</button>
    <button type="button" onclick="window.location.href='/kurss/CRUD/show/all'">Notīrīt</button>
</form>

<table border="1px" style="border-collapse: collapse;">
    <tr>
        <th>ID</th>
        <th>Nosaukums</th>
        <th>Stundas</th>
        <th>Līmenis</th>
		<th>Darbības</th>
    </tr>

    <tr th:each="temp : ${package}">
        <td th:text="${temp.kid}"></td>
        <td th:text="${temp.nosaukums}"></td>
        <td th:text="${temp.stundas}"></td>
        <td th:text="${temp.limenis}"></td>
		<td>
			<a th:href="@{/kurss/CRUD/show/all/{id}(id=${temp.kid})}">Skatīt</a>
			<a th:href="@{/kurss/CRUD/update/{id}(id=${temp.kid})}">Labot</a>
			<a th:href="@{/kurss/CRUD/remove/{id}(id=${temp.kid})}">Dzēst</a>
		</td>
    </tr>
</table>

<div>
	    <a th:if="${!package.first}" th:href="@{/kurss/CRUD/show/all?page={page}&size={size}(page=${package.number - 1}, size=${package.size})}">Iepriekšējā</a>
	    <span>Lapa <span th:text="${package.number + 1}"></span> no <span th:text="${package.totalPages}"></span></span>
	    <a th:if="${!package.last}" th:href="@{/kurss/CRUD/show/all?page={page}&size={size}(page=${package.number + 1}, size=${package.size})}">Nākamā</a>
	</div>

</body>
</html>
