<html xmlns:th="http://www.thymeleaf.org">

<body>
	
	<p>Informācija par kursa dalībniekiem:</p>
	
	<table border="1px" border-collapse="collapse">
		<tr>
			<th>ID</th>
			<th>Vārds</th>
			<th>Uzvārds</th>
			<th>E-pasts</th>
			<th>Telefona nr</th>
			<th>Personas ID</th>
			<th>Pilsēta</th>
			<th>Valsts</th>
			<th>Ielas nosaukums un numurs</th>
			<th>Dzīvokļa nr</th>
			<th>Pasta indekss</th>
		</tr>
		<tr th:each = "temp : ${kursaDal}">
			<td th:text="${temp.getKdid()}" ></td>
			<td th:text="${temp.getVards()}" ></td>
			<td th:text="${temp.getUzvards()}" ></td>
			<td th:text="${temp.getEpasts()}" ></td>
			<td th:text="${temp.getTelefonaNr()}" ></td>
			<td th:text="${temp.getPersonasId()}" ></td>
			<td th:text="${temp.getPilseta()}" ></td>
			<td th:text="${temp.getValsts()}" ></td>
			<td th:text="${temp.getIelasNosaukumsNumurs()}" ></td>
			<td th:text="${temp.getDzivoklaNr()}" ></td>
			<td th:text="${temp.getPastaIndekss()}" ></td>
		</tr>
	</table>
	
	<div th:if="${package instanceof T(org.springframework.data.domain.Page)}">
	    <a th:if="${!kursaDal.first}" th:href="@{/kursaDalibnieki/CRUD/show/all?page={page}&size={size}(page=${kursaDal.number - 1}, size=${kursaDal.size})}">Iepriekšējā</a>
	    <span>Lapa <span th:text="${kursaDal.number + 1}"></span> no <span th:text="${kursaDal.totalPages}"></span></span>
	    <a th:if="${!kursaDal.last}" th:href="@{/kursaDalibnieki/CRUD/show/all?page={page}&size={size}(page=${kursaDal.number + 1}, size=${kursaDal.size})}">Nākamā</a>
	</div>

</body>
</html> 