<html xmlns:th="http://www.thymeleaf.org">


<body>
	
	<p>Information about Kursa dalibnieks:</p>
	
	<table border="1px" border-collapse="collapse">
		<tr>
			<th>ID</th>
			<th>Vārds</th>
			<th>Uzvārds</th>
			<th>E-pasts</th>
			<th>Telefona nr</th>
			<th>Personas ID</th>
			<th>Pilsēta</th>
			<th>Valsts</th>
			<th>Ielas nosaukums un numurs</th>
			<th>Dzīvokļa nr</th>
			<th>Pasta indekss</th>
			
		</tr>
		<tr th:each = "temp : ${package}">
			<td th:text="${temp.getKdid()}" ></td>
			<td th:text="${temp.getVards()}" ></td>
			<td th:text="${temp.getUzvards()}" ></td>
			<td th:text="${temp.getEpasts()}" ></td>
			<td th:text="${temp.getTelefonaNr()}" ></td>
			<td th:text="${temp.getPersonasId()}" ></td>
			<td th:text="${temp.getPilseta()}" ></td>
			<td th:text="${temp.getValsts()}" ></td>
			<td th:text="${temp.getIelasNosaukumsNumurs()}" ></td>
			<td th:text="${temp.getDzivoklaNr()}" ></td>
			<td th:text="${temp.getPastaIndekss()}" ></td>
			
		</tr>
		
		
	</table>
	
	
</body>
</html> 