<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:if="${message}" style="color:red; font-weight:bold;" th:text="${message}"></div>

	<p th:text="#{dates.add.title}"> Enter information about the kursa datumi! </p>

	<form action="#" th:action="@{/kursaDatumi/CRUD/add}" th:object="${kursaDatumi}" method="post">
		<table>
			<tr>
				<td th:text="#{dates.startDate}">Sākuma datums:</td>
				<td><input type="date" th:field="*{sakumaDatums}" /></td>
			</tr>

			<tr>
				<td th:text="#{dates.endDate}">Beigu datums:</td>
				<td><input type="date" th:field="*{beiguDatums}" /></td>
			</tr>

			<tr>
				<td th:text="#{dates.course}">Kurss:</td>
				<td>
					<select th:field="*{kurss}" required>
						<option th:each="k : ${kurssList}" th:value="${k.kid}"
							th:text="${k.nosaukums} + ' (' + ${k.stundas} + 'h, ' + ${k.limenis} + ')'">
						</option>
					</select>
				</td>
			</tr>

			<tr>
				<td th:text="#{dates.teacher}">Pasniedzējs:</td>
				<td>
					<select th:field="*{pasniedzejs}" required>
						<option th:each="p : ${pasniedzejiList}" th:value="${p.pid}"
							th:text="${p.vards} + ' ' + ${p.uzvards}">
						</option>
					</select>
				</td>
			</tr>

			<tr>
				<td>
					<button type="submit" th:text="#{dates.save}"> Save</button>
				</td>
			</tr>
		</table>
	</form>

</body>

</html>