<html xmlns:th="http://www.thymeleaf.org">

<body>
	<h3 th:text="#{course.delete.title}">Kursa dzēšana</h3>

	<table>
		<tr>
			<td th:text="#{course.name}">Nosaukums:</td>
			<td th:text="${kurss.nosaukums}"></td>
		</tr>
		<tr>
			<td th:text="#{course.hours}">Stundas:</td>
			<td th:text="${kurss.stundas}"></td>
		</tr>
		<tr>
			<td th:text="#{course.level}">Līmenis:</td>
			<td th:text="${kurss.limenis}"></td>
		</tr>
	</table>

	<form th:action="@{/kurss/CRUD/remove/{id}(id=${kurss.kid})}" method="post">
		<p>
			<span th:text="#{course.delete.confirm}">Vai tiešām dzēst kursu</span>
			<b th:text="${kurss.nosaukums}"></b>?
		</p>
		<button type="submit" th:text="#{course.delete.button}">Dzēst</button>
		<a th:href="@{/kurss/CRUD/show/all}" th:text="#{course.delete.cancel}">Atcelt</a>
	</form>
</body>

</html>