<html xmlns:th="http://www.thymeleaf.org">


<body>
<div th:if="${message}" style="color:red; font-weight:bold;" th:text="${message}"></div>

<p th:text="#{dates.edit.title}"> Rediģē eksistējošo kursa datumus!</p>

<form action="#" th:action="@{/kursaDatumi/CRUD/update/{id}(id=${kursaDatumi.kursaDatId})}" th:object="${kursaDatumi}"
      method="post">
    <table>
        <tr>
            <td th:text="#{dates.edit.startDate}">Rediģē kursa sākuma datumu:</td>
            <td><input type="date" th:field="*{sakumaDatums}"/></td>
        </tr>

        <tr>
            <td th:text="#{dates.edit.endDate}">Rediģē kursa beigu datumu:</td>
            <td><input type="date" th:field="*{beiguDatums}"/></td>
        </tr>

        <tr>
            <td th:text="#{dates.edit.teacher}">Rediģē kursa pasniedzēju:</td>
            <td><select th:field="*{pasniedzejs.pid}" required>
                <option th:each="p : ${pasniedzejiList}"
                        th:value="${p.pid}"
                        th:text="${p.vards} + ' ' + ${p.uzvards}"
                        th:selected="${p.pid == kursaDatumi.pasniedzejs.pid}">
                </option>
            </select>
            </td>
        </tr>

        <tr>
            <td>
                <button type="submit" th:text="#{dates.edit.saveButton}"> Saglabāt rediģētos kursa datumus</button>
            </td>
        </tr>

    </table>
</form>
</body>

</html>
