<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="#{course.add.title}">Pievienot kursu</title>
</head>

<body>

	<h3 th:text="#{course.add.heading}">Ievadiet informāciju par kursu!</h3>

	<div th:if="${message}" style="color:red; font-weight:bold;" th:text="${message}"></div>

	<form th:action="@{/kurss/CRUD/add}" th:object="${kurss}" method="post">
		<table>
			<tr>
				<td th:text="#{course.name}">Nosaukums:</td>
				<td><input type="text" th:field="*{nosaukums}" /></td>
			</tr>
			<tr>
				<td th:text="#{course.hours}">Stundas:</td>
				<td><input type="number" th:field="*{stundas}" /></td>
			</tr>
			<tr>
				<td th:text="#{course.level}">Līmenis:</td>
				<td>
					<select th:field="*{limenis}">
						<option th:each="lvl : ${limeni}" th:value="${lvl}" th:text="${lvl}">
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit" th:text="#{course.save}">Saglabāt</button>
				</td>
			</tr>
		</table>
	</form>

</body>

</html>