<html xmlns:th="http://www.thymeleaf.org">

<body>
	
	<p>Informācija par kursa datumiem:</p>
	
	<table border="1px" border-collapse="collapse">
		<tr>
			<th>ID</th>
			<th>Sākuma datums</th>
			<th>Beigu datums</th>
			<th>Kurss</th>
			<th>Pasniedzējs</th>
		</tr>
		<tr th:each = "temp : ${package}">
			<td th:text="${temp.getKursaDatId()}" ></td>
			<td th:text="${temp.getSakumaDatums()}" ></td>
			<td th:text="${temp.getBeiguDatums()}" ></td>
			<td th:text="${temp.getKurss()}" ></td>
			<td th:text="${temp.getPasniedzejs()}"></td>
		</tr>
	</table>
	
	<div th:if="${package instanceof T(org.springframework.data.domain.Page)}">
		    <a th:if="${!package.first}" th:href="@{/kursaDatumi/CRUD/show/all?page={page}&size={size}(page=${package.number - 1}, size=${package.size})}">Iepriekšējā</a>
		    <span>Lapa <span th:text="${package.number + 1}"></span> no <span th:text="${package.totalPages}"></span></span>
		    <a th:if="${!package.last}" th:href="@{/kursaDatumi/CRUD/show/all?page={page}&size={size}(page=${package.number + 1}, size=${package.size})}">Nākamā</a>
		</div>
	
</body>
</html> 