<html xmlns:th="http://www.thymeleaf.org">
	

<body>
	<p> Enter information about the kursa datumi! </p>

	<form action="#"  th:action="@{/kursaDatumi/CRUD/add}" th:object="${kursaDatumi}" method="post" >
		<table>
			<tr>
				<td>Sākuma datums: </td>
				<td> <input type="date"  th:field="*{sakumaDatums}"   /> </td>
			</tr>
			
			<tr>
				<td>Beigu datums: </td>
				<td> <input  type="date" th:field="*{beiguDatums}"  />    </td>
			</tr>
			
			<tr>
			    <td>Kurss: </td>
			    <td>
			        <select th:field="*{kurss}" required>
			            <option th:each="k : ${kurssList}" 
			                    th:value="${k.kid}" 
			                    th:text="${k.nosaukums} + ' (' + ${k.stundas} + 'h, ' + ${k.limenis} + ')'">
			            </option>
			        </select>
			    </td>
			</tr>
			
			<tr>
				<td>Pasniedzējs: </td>
				<td> 
					<select th:field="*{pasniedzejs}" required>
				       <option th:each="p : ${pasniedzejiList}" th:value="${p.pid}" th:text="${p.vards} + ' ' + ${p.uzvards}">
				       </option>
				 	</select>
			    </td>
			</tr>
			

			<tr>
				
				<td> <button type="submit"> Save </button>     </td>
				
			</tr>
			
		</table>
		
		
		
	</form>
</body>

</html>