<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:if="${message}" style="color:red; font-weight:bold;" th:text="${message}"></div>

	<p th:text="#{course.edit.title}"> Lūdzu rediģē eksistējošo kursu!</p>

	<form action="#" th:action="@{/kurss/CRUD/update/{id}(id=${kurss.kid})}" th:object="${kurss}" method="post">
		<table>
			<tr>
				<td th:text="#{course.edit.name}">Rediģē kursa nosaukumu:</td>
				<td><input type="text" th:field="*{nosaukums}" /></td>
			</tr>

			<tr>
				<td th:text="#{course.edit.hours}">Rediģē kursa stundas:</td>
				<td><input type="text" th:field="*{stundas}" /></td>
			</tr>

			<tr>
				<td th:text="#{course.edit.level}">Rediģē kursa līmeni:</td>
				<td>
					<select th:field="*{limenis}">
						<option th:each="lvl : ${limeni}" th:value="${lvl}" th:text="${lvl}">
						</option>
					</select>
				</td>
			</tr>

			<td>
				<button type="submit" th:text="#{course.edit.saveButton}"> Saglabāt rediģēto kursu</button>
			</td>

			</tr>

		</table>
	</form>
</body>

</html>