<html xmlns:th="http://www.thymeleaf.org">


<body>
	
	<p>Informācija par pasniedzējiem:</p>
	
	<table border="1px" border-collapse="collapse">
		<tr>
			<th>ID</th>
			<th>Vārds</th>
			<th>Uzvārds</th>
			<th>E-pasts</th>
			<th>Telefona numurs</th>
			
		</tr>
		<tr th:each = "temp : ${package}">
			<td th:text="${temp.getPid()}" ></td>
			<td th:text="${temp.getVards()}" ></td>
			<td th:text="${temp.getUzvards()}" ></td>
			<td th:text="${temp.getEpasts()}" ></td>
			<td th:text="${temp.getTelnummurs()}" ></td>
		</tr>
	</table>
	
	<div>
		    <a th:if="${!package.first}" th:href="@{/pasniedzeji/CRUD/show/all?page={page}&size={size}(page=${package.number - 1}, size=${package.size})}">Iepriekšējā</a>
		    <span>Lapa <span th:text="${package.number + 1}"></span> no <span th:text="${package.totalPages}"></span></span>
		    <a th:if="${!package.last}" th:href="@{/pasniedzeji/CRUD/show/all?page={page}&size={size}(page=${package.number + 1}, size=${package.size})}">Nākamā</a>
		</div>
</body>
</html> 