<html xmlns:th="http://www.thymeleaf.org">


<body>
	
	<p>Informācija par pasniedzējiem:</p>
	
	<form th:action="@{/pasniedzeji/CRUD/show/all}" method="get">
			<label for="nosaukums">Filtrēt pēc kursa nosaukuma:</label>
			<input type="text" id="nosaukums" name="nosaukums" 
			       th:value="${nosaukums}" 
			       placeholder="Ievadi kursa nosaukumu">
			
			<button type="submit">Filtrēt</button>
			<a th:href="@{/pasniedzeji/CRUD/show/all}">Notīrīt filtru</a>
	</form>
	<br>
	
	<table border="1px" border-collapse="collapse">
		<tr>
			<th>ID</th>
			<th>Vārds</th>
			<th>Uzvārds</th>
			<th>E-pasts</th>
			<th>Telefona numurs</th>
		</tr>
		<tr th:each = "temp : ${package}">
			<td th:text="${temp.getPid()}" ></td>
			<td th:text="${temp.getVards()}" ></td>
			<td th:text="${temp.getUzvards()}" ></td>
			<td th:text="${temp.getEpasts()}" ></td>
			<td th:text="${temp.getTelefonaNr()}" ></td>
		</tr>
	</table>
	
	<div th:if="${package instanceof T(org.springframework.data.domain.Page)}">
	    <a th:if="${!package.first}" th:href="@{/pasniedzeji/CRUD/show/all?page={page}&size={size}(page=${package.number - 1}, size=${package.size})}">Iepriekšējā</a>
	    <span>Lapa <span th:text="${package.number + 1}"></span> no <span th:text="${package.totalPages}"></span></span>
	    <a th:if="${!package.last}" th:href="@{/pasniedzeji/CRUD/show/all?page={page}&size={size}(page=${package.number + 1}, size=${package.size})}">Nākamā</a>
	</div>
	
</body>
</html> 