<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:if="${message}" style="color:red; font-weight:bold;" th:text="${message}"></div>
<p> Ievadiet informaciju par pasniedzēju! </p>

<form action="#" th:action="@{/pasniedzeji/CRUD/add}" th:object="${pasniedzejs}" method="post">
    <table>
        <tr>
            <td>Vards:</td>
            <td><input type="text" th:field="*{vards}"/></td>
        </tr>

        <tr>
            <td>Uzvards:</td>
            <td><input type="text" th:field="*{uzvards}"/></td>
        </tr>

        <tr>
            <td>Epasts:</td>
            <td><input type="text" th:field="*{epasts}"/></td>
        </tr>

        <tr>
            <td>Telefona numurs:</td>
            <td><input type="text" th:field="*{telefonaNr}"/></td>
        </tr>


        <tr>

            <td>
                <button type="submit"> Save</button>
            </td>

        </tr>

    </table>


</form>
</body>

</html>