<html xmlns:th="http://www.thymeleaf.org">


<body>
	
	<p>Informācija par pasniedzēju:</p>
	
	<table border="1px" border-collapse="collapse">
		<tr>
			<th>ID</th>
			<th>Vārds</th>
			<th>Uzvārds</th>
			<th>E-pasts</th>
			<th>Telefona numurs</th>
			
		</tr>
		<tr th:each = "temp : ${package}">
			<td th:text="${temp.getPid()}" ></td>
			<td th:text="${temp.getVards()}" ></td>
			<td th:text="${temp.getUzvards()}" ></td>
			<td th:text="${temp.getEpasts()}" ></td>
			<td th:text="${temp.getTelefonaNr()}" ></td>
		</tr>
	</table>
	
</body>
</html> 