<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:if="${message}" style="color:red; font-weight:bold;" th:text="${message}"></div>

	<p th:text="#{teacher.edit.title}"> Rediģējiet informāciju par pasniedzēju! </p>

	<form action="#" th:action="@{/pasniedzeji/CRUD/update/{id}(id=${id})}" th:object="${pasniedzejs}"
		method="post">
		<table>
			<tr>
				<td th:text="#{teacher.firstName}">Vards:</td>
				<td><input type="text" th:field="*{vards}" /></td>
			</tr>

			<tr>
				<td th:text="#{teacher.lastName}">Uzvards:</td>
				<td><input type="text" th:field="*{uzvards}" /></td>
			</tr>

			<tr>
				<td th:text="#{teacher.email}">E-pasts:</td>
				<td><input type="text" th:field="*{epasts}" /></td>
			</tr>

			<tr>
				<td th:text="#{teacher.phone}">Telefona numurs:</td>
				<td><input type="text" th:field="*{telefonaNr}" /></td>
			</tr>

			<tr>
				<td>
					<button type="submit" th:text="#{teacher.edit.save}"> Save</button>
				</td>
			</tr>

		</table>
	</form>
</body>

</html>