<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:if="${message}" style="color:red; font-weight:bold;" th:text="${message}"></div>

	<p th:text="#{certificate.edit.title}"> Rediģējiet informāciju par sertifikatu! </p>

	<form action="#" th:action="@{/sertifikati/CRUD/update/{id}(id=${sertifikats.sid})}" th:object="${sertifikats}"
		method="post">
		<table>
			<tr>
				<td th:text="#{certificate.type}">Tips: </td>
				<td>
					<select th:field="*{tips}">
						<option th:each="tips : ${T(lv.sis.model.enums.CertificateType).values()}" th:value="${tips}"
							th:text="${tips}">
						</option>
					</select>
				</td>
			</tr>

			<tr>
				<td th:text="#{certificate.issueDate}">Izdosanas datums: </td>
				<td><input type="date" th:field="*{izdosanasDatums}" th:value="*{izdosanasDatums}" /></td>
			</tr>

			<tr>
				<td th:text="#{certificate.isSigned}">Ir parakstits: </td>
				<td>
					<input type="hidden" th:if="${irParakstits}" name="irParakstits" value="true" />
					<input type="checkbox" th:field="*{irParakstits}" th:disabled="${irParakstits}" />
					<span th:if="${irParakstits}" style="color: gray; font-size: 0.9em;"
						th:text="#{certificate.alreadySigned}">
						Šis sertifikāts jau ir parakstīts
					</span>
				</td>
			</tr>

			<tr>
				<td th:text="#{certificate.participant}">Dalibnieks:</td>
				<td>
					<select th:name="kdid">
						<option th:each="dalibnieks : ${sertifikats.getDalibnieks()}" th:value="${dalibnieks.getKdid()}"
							th:text="${dalibnieks.getVards()} + ' ' + ${dalibnieks.getUzvards()} + ' (' + ${dalibnieks.getPersonasId()} + ')'">
						</option>
					</select>
				</td>
			</tr>


			<tr>
				<td th:text="#{certificate.course}">Kurss</td>
				<td>
					<select th:name="kid">
						<option th:each="kurss : ${sertifikats.getKurss()}" th:value="${kurss.getKid()}"
							th:text="${kurss.getNosaukums()}">
						</option>
					</select>
				</td>
			</tr>

			<tr>
				<td th:text="#{certificate.registrationNo}">Sertifikāta numurs:</td>
				<td>
					<span th:text="*{certificateNo}"></span>

					<input type="hidden" th:field="*{certificateNo}" />
				</td>
			</tr>


			<tr>
				<td>
					<button type="submit" th:text="#{certificate.edit.save}"> Save</button>
				</td>
			</tr>

		</table>
	</form>
</body>

</html>