<html xmlns:th="http://www.thymeleaf.org">


<body>
	
	<p>Informācija par sertifikātiem:</p>
	
	<div th:if="${sertifikati.getTotalElements() > 1}">
					
			<span>Rādīt ierakstu:</span>
			
			<form th:method="get" th:action="@{/sertifikati/CRUD/show/all}">
				<input type="hidden" name="page" value="0"/>
				<select name="size" onchange="this.form.submit()">
					<option th:value="3"  th:selected="${sertifikati.size == 3}">3</option>
					<option th:value="5"  th:selected="${sertifikati.size == 5}">5</option>
					<option th:value="10" th:selected="${sertifikati.size == 10}">10</option>
					<option th:value="15" th:selected="${sertifikati.size == 15}">15</option>
					<option th:value="20" th:selected="${sertifikati.size == 20}">20</option>
				</select>
			</form>
		
		</div>
	
	<table border="1px" border-collapse="collapse">
		<tr>
			<th>ID</th>
			<th>Tips</th>
			<th>Izdosanas datums</th>
			<th>Registracijas numurs</th>
			<th>Ir parakstits?</th>
			<th>Dalibnieks</th>
			<th>Kurss</th>
		</tr>
		<tr th:each = "temp : ${sertifikati}">
			<td th:text="${temp.getSid()}" ></td>
			<td th:text="${temp.getTips()}" ></td>
			<td th:text="${temp.getIzdosanasDatums()}" ></td>
			<td th:text="${temp.getRegistracijasNr()}" ></td>
			<td th:text="${temp.isIrParakstits()}" ></td>
			<td th:text="${temp.getDalibnieks().getUzvards()}" ></td>
			<td th:text="${temp.getKurss().getNosaukums()}" ></td>
		</tr>
	</table>
	
	<div th:if="${sertifikati.getTotalElements() > 1}">
	    <a th:if="${!sertifikati.first}" th:href="@{/sertifikati/CRUD/show/all?page={page}&size={size}(page=${sertifikati.number - 1}, size=${sertifikati.size})}">Iepriekšējā</a>
	    <span>Lapa <span th:text="${sertifikati.number + 1}"></span> no <span th:text="${sertifikati.totalPages}"></span></span>
	    <a th:if="${!sertifikati.last}" th:href="@{/sertifikati/CRUD/show/all?page={page}&size={size}(page=${sertifikati.number + 1}, size=${sertifikati.size})}">Nākamā</a>
	</div>
</body>
</html> 