<html xmlns:th="http://www.thymeleaf.org">


<body>
	
	<p>Informācija par vērtējumiem:</p>
	
	<table border="1px" border-collapse="collapse">
		<tr>
			<th>ID</th>
			<th>Vērtējums</th>
			<th>Datums</th>
			<th>Kursa dalībnieki</th>
			<th>Kursa datumi</th>
			
		</tr>
		<tr th:each = "temp : ${package}">
			<td th:text="${temp.getVid()}" ></td>
			<td th:text="${temp.getVertejums()}" ></td>
			<td th:text="${temp.getDatums()}" ></td>
			<td th:text="${temp.getKdid()}" ></td>
			<td th:text="${temp.getKursaDatId()}" ></td>
			
		</tr>
		
		
	</table>
	
	
</body>
</html> 