<html xmlns:th="http://www.thymeleaf.org">


<body>
	
	<p>Informācija par vērtējumiem:</p>
	
	<table border="1px" border-collapse="collapse">
		<tr>
			<th>ID</th>
			<th>Vērtējums</th>
			<th>Datums</th>
			<th>Kursa dalībnieki</th>
			<th>Kursa datumi</th>
			
		</tr>
		<tr th:each = "temp : ${package}">
			<td th:text="${temp.getVid()}" ></td>
			<td th:text="${temp.getVertejums()}" ></td>
			<td th:text="${temp.getDatums()}" ></td>
			<td th:text="${temp.getKursaDalibnieki().getVards() + ' ' + temp.getKursaDalibnieki().getUzvards()}" ></td>
			<td th:text="${temp.getKursaDatumi().getKursaDatId()}" ></td>
			
		</tr>
		
		
	</table>
	
	<div>
	    <a th:if="${!package.first}" th:href="@{/vertejumi/CRUD/show/all?page={page}&size={size}(page=${package.number - 1}, size=${package.size})}">Iepriekšējā</a>
	    <span>Lapa <span th:text="${package.number + 1}"></span> no <span th:text="${package.totalPages}"></span></span>
	    <a th:if="${!package.last}" th:href="@{/vertejumi/CRUD/show/all?page={page}&size={size}(page=${package.number + 1}, size=${package.size})}">Nākamā</a>
	</div>
	
</body>
</html> 