<html xmlns:th="http://www.thymeleaf.org">

<body>
	<h3 th:text="#{grade.delete.title}">Vērtejuma dzēšana</h3>

	<table>
		<tr>
			<td th:text="#{grade.value}">Vērtējums:</td>
			<td th:text="${vertejumi.vertejums}"></td>
		</tr>
		<tr>
			<td th:text="#{grade.date}">Datums:</td>
			<td th:text="${vertejumi.datums}"></td>
		</tr>
		<tr>
			<td th:text="#{grade.participant}">Dalībnieks:</td>
			<td th:text="${vertejumi.kursaDalibnieki.vards} + ' ' + ${vertejumi.kursaDalibnieki.uzvards}"></td>
		</tr>
		<tr>
			<td th:text="#{grade.date}">Datums:</td>
			<td th:text="${vertejumi.datums}"></td>
		</tr>
		<tr>
			<td th:text="#{grade.course}">Kurss:</td>
			<td th:text="${vertejumi.kursaDatumi.kurss.nosaukums}"></td>
		</tr>
		<tr>
			<td th:text="#{grade.teacher}">Pasniedzējs:</td>
			<td
				th:text="${vertejumi.kursaDatumi.pasniedzejs.vards} + ' ' + ${vertejumi.kursaDatumi.pasniedzejs.uzvards}">
			</td>
		</tr>
	</table>

	<form th:action="@{/vertejumi/CRUD/remove/{id}(id=${vertejumi.vid})}" method="post">
		<p>
			<span th:text="#{grade.delete.confirm}">Vai tiešām dzēst vērtējumu</span>
			<b th:text="${vertejumi.vertejums}"></b>?
		</p>
		<button type="submit" th:text="#{grade.delete.button}">Dzēst</button>
		<a th:href="@{/vertejumi/CRUD/show/all}" th:text="#{grade.delete.cancel}">Atcelt</a>
	</form>
</body>

</html>