<html xmlns:th="http://www.thymeleaf.org">


<body>
	<p> Ievadiet informāciju par vērtējumu! </p>

	<form action="#" th:action="@{/vertejumi/CRUD/add}" th:object="${vertejumi}" method="post">
		<table>
			<tr>
				<td>Vērtējums: </td>
				<td> <input type="number" step="0.01" th:field="*{vertejums}" /> </td>
			</tr>

			<tr>
				<td>Datums: </td>
				<td> <input type="date" th:field="*{datums}" /> </td>
			</tr>

			<tr>
				<td>Kursa dalībnieki: </td>
				<td>
					<select th:field="*{kursaDalibnieki}" required>
						<option th:each="d : ${kursaDalibniekiList}" th:value="${d.kdid}"
							th:text="${d.vards + ' ' + d.uzvards + ' (' + d.personasId + ')'}">
						</option>
					</select>
				</td>
			</tr>
			<td>Kursa datumi:</td>
			<td>
			    <select th:field="*{kursaDatumi}" required>
			        <option th:each="k : ${kursaDatumiList}"
			                th:value="${k.kursaDatId}"
			                th:text="${k.kurss.nosaukums + ' (' + #temporals.format(k.sakumaDatums, 'yyyy-MM-dd') + ' līdz ' + #temporals.format(k.beiguDatums, 'yyyy-MM-dd') + ')'}">
			        </option>
			    </select>
			</td>

			</tr>


			<tr>

				<td> <button type="submit"> Save </button> </td>

			</tr>

		</table>



	</form>
</body>

</html>