name: Hello Workflow
on: 
  push:
    branches:
      - viktorija/GitHubActions
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello
        run: echo "Sveiciens no GitHub Actions!"

